In [ ]:
from IPython.display import display
from IPython.display import clear_output

import numpy as np
import pandas as pd
from pandas import concat
from pandas import DataFrame

import datetime,os

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import datasets, layers, models
import math
from math import sqrt

In [42]:
# File name and Path
cwd = os.getcwd()
path_adress = "/Import_Dataset/"

# ข้อมูล พิกัดสถานที่เเละรายชื้ออ้างอิงสถานที่ตรวจวัด
file_name_st = 'Dataset_BPH'
csv_file_st = cwd + path_adress + file_name_st + '.csv'

dataset = pd.read_csv(csv_file_st)

address_list = dataset.groupby(['address','latitude','longitude']).size().reset_index(name='count')

df = dataset[1:100]

In [43]:
df

,date,address,latitude,longitude,day,month,year,mirid bug,mint,maxt,...,R-12,R-13,R-14,R-15,R-16,R-17,R-18,R-19,R-20,bph
1,2015-01-02,Chachoengsao Rice research Center,13.873,100.951,2,1,2015,0,20.5,26.9,...,0,0,14328,1995,4148,4767,136,1594,1224,0
2,2015-01-03,Chachoengsao Rice research Center,13.873,100.951,3,1,2015,0,21.0,22.5,...,0,0,14328,1995,4148,4767,136,1594,1224,1
3,2015-01-04,Chachoengsao Rice research Center,13.873,100.951,4,1,2015,0,21.5,31.0,...,0,0,14328,1995,4148,4767,136,1594,1224,1
4,2015-01-05,Chachoengsao Rice research Center,13.873,100.951,5,1,2015,0,23.0,29.5,...,0,0,14328,1995,4148,4767,136,1594,1224,0
5,2015-01-06,Chachoengsao Rice research Center,13.873,100.951,6,1,2015,0,24.0,33.2,...,0,0,14328,1995,4148,4767,136,1594,1224,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2015-04-06,Chachoengsao Rice research Center,13.873,100.951,6,4,2015,0,29.5,35.0,...,0,0,5911,823,1711,1967,56,657,505,2
96,2015-04-07,Chachoengsao Rice research Center,13.873,100.951,7,4,2015,0,30.0,34.8,...,0,0,5911,823,1711,1967,56,657,505,1
97,2015-04-08,Chachoengsao Rice research Center,13.873,100.951,8,4,2015,0,26.0,28.5,...,0,0,5911,823,1711,1967,56,657,505,3
98,2015-04-09,Chachoengsao Rice research Center,13.873,100.951,9,4,2015,0,26.0,35.0,...,0,0,5911,823,1711,1967,56,657,505,5
99,2015-04-10,Chachoengsao Rice research Center,13.873,100.951,10,4,2015,0,28.5,33.0,...,0,0,5911,823,1711,1967,56,657,505,2

In [80]:
#################-- Moving Averag data --#################
def mavr_dataset(df,col_list,rolling_num,our_rate):    
           
    for i in range(len(col_list)):
        df[col_list[i]] = df[col_list[i]].rolling(rolling_num, min_periods=1).mean().round(1)
    
    constant_subset = df[::our_rate] 
    return constant_subset

In [78]:
colum_mean = ['mirid bug','mint','maxt']
n_rolling = 5 
our_rate = 1
df_out = mavr_dataset(df,colum_mean,n_rolling,our_rate)

<ipython-input-75-ae76300ba08d>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col_list[i]] = df[col_list[i]].rolling(rolling_num, min_periods=1).mean().round(1).copy()

In [79]:
df_out

,date,address,latitude,longitude,day,month,year,mirid bug,mint,maxt,...,R-12,R-13,R-14,R-15,R-16,R-17,R-18,R-19,R-20,bph
1,2015-01-02,Chachoengsao Rice research Center,13.873,100.951,2,1,2015,0.0,20.5,26.9,...,0,0,14328,1995,4148,4767,136,1594,1224,0
2,2015-01-03,Chachoengsao Rice research Center,13.873,100.951,3,1,2015,0.0,20.6,26.8,...,0,0,14328,1995,4148,4767,136,1594,1224,1
3,2015-01-04,Chachoengsao Rice research Center,13.873,100.951,4,1,2015,0.0,20.6,26.8,...,0,0,14328,1995,4148,4767,136,1594,1224,1
4,2015-01-05,Chachoengsao Rice research Center,13.873,100.951,5,1,2015,0.0,20.6,26.8,...,0,0,14328,1995,4148,4767,136,1594,1224,0
5,2015-01-06,Chachoengsao Rice research Center,13.873,100.951,6,1,2015,0.0,20.6,26.7,...,0,0,14328,1995,4148,4767,136,1594,1224,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2015-04-06,Chachoengsao Rice research Center,13.873,100.951,6,4,2015,0.0,28.4,32.2,...,0,0,5911,823,1711,1967,56,657,505,2
96,2015-04-07,Chachoengsao Rice research Center,13.873,100.951,7,4,2015,0.0,28.3,32.1,...,0,0,5911,823,1711,1967,56,657,505,1
97,2015-04-08,Chachoengsao Rice research Center,13.873,100.951,8,4,2015,0.0,28.3,32.1,...,0,0,5911,823,1711,1967,56,657,505,3
98,2015-04-09,Chachoengsao Rice research Center,13.873,100.951,9,4,2015,0.0,28.2,32.0,...,0,0,5911,823,1711,1967,56,657,505,5
99,2015-04-10,Chachoengsao Rice research Center,13.873,100.951,10,4,2015,0.0,28.1,32.0,...,0,0,5911,823,1711,1967,56,657,505,2

In [ ]:
len(address_list)
for i in range(len(address_list)):
        st = i
        print(address_list['address'][i])

In [ ]:
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                              'Parrot', 'Parrot'],
                    'Max Speed': [380., 370., 24., 26.]})

df

In [ ]:
df.groupby("Animal", group_keys=True).apply(lambda x: x)

In [ ]:
#################-- Moving Averag data --#################
def mavr_dataset(frames_sma,rolling_num,our_rate,mode):    
    h_name = list(frames_sma)
    if mode == 'sum':
        frames_sma['mirid bug'] = frames_sma['mirid bug'].rolling(rolling_num, min_periods=1).sum().round(1)
        frames_sma['bph'] = frames_sma['bph'].rolling(rolling_num, min_periods=1).sum().round(1)
        frames_sma['precip'] = frames_sma['precip'].rolling(rolling_num, min_periods=1).sum().round(1)
    else:
        frames_sma['mirid bug'] = frames_sma['mirid bug'].rolling(rolling_num, min_periods=1).mean().round(1)
        frames_sma['bph'] = frames_sma['bph'].rolling(rolling_num, min_periods=1).mean().round(1)
        frames_sma['precip'] = frames_sma['precip'].rolling(rolling_num, min_periods=1).mean().round(1)
   
    for i in range(7,12):
        frames_sma[h_name[i]] = frames_sma[h_name[i]].rolling(rolling_num, min_periods=1).mean().round(1)

    constant_subset = frames_sma[::our_rate] 
    return constant_subset

In [ ]:
#################-- creat_dataset  --#################
def creat_dataset(st_BPH = 'ALL', y_1='2015', y_2='2019', m_avr='ALL'):
    for i in range(len(data_list_st_num)):
        st = i
        file_name = df_st['nameEng'][data_list_st_num[st]]
        name_input = file_name
        name_locals = 'stN_' + file_name

        # File name and Path
        csv_file = cwd + path_adress + name_input + '.csv'
        # index_col=0 , index_col=None
        dataset = pd.read_csv(csv_file, header=0,
                              index_col=0, encoding="TIS-620")

        if m_avr == '3-DAY-All-':
            locals()[name_locals] = mavr_dataset(dataset,3,1,'mean')
        elif m_avr == '7-DAY-All':
            locals()[name_locals] = mavr_dataset(dataset,7,1,'mean')
        elif m_avr == '14-DAY-All':
            locals()[name_locals] = mavr_dataset(dataset,14,1,'mean')
        elif m_avr == '3-DAY-Sampling':
            locals()[name_locals] = mavr_dataset(dataset,3,3,'sum')
        elif m_avr == '7-DAY-Sampling':
            locals()[name_locals] = mavr_dataset(dataset,7,7,'sum')
        elif m_avr == '14-DAY-Sampling':
            locals()[name_locals] = mavr_dataset(dataset,14,14,'sum')
        else :
            locals()[name_locals] = dataset
            # print(f'Dataframe name_station: {st+1 , name_input}')
        print('wait......')
        del dataset
        clear_output(wait=True)

    date_start = y_1 + '-01' + '-01'
    date_stop = y_2 + '-12' + '-31'
    #---------------------------------------------------------------------------------------------------------------------------------------------------#
    if st_BPH != 'ALL' :
        # file_name = df_st['nameEng'][data_list_st_num[st_BPH]]
        file_name = st_BPH
        locals_input = 'stN_' + file_name
        print(locals_input)
        dataset_st = locals()[locals_input].loc[date_start:date_stop]
        frames_st = dataset_st
    else:
        m = 0
        for j in range(len(data_list_st_num)):
            # for j in range(df_st.shape[0]):
            # file_name = df_st['nameEng'][j]
            file_name = df_st['nameEng'][data_list_st_num[j]]
            locals_input = 'stN_' + file_name
            print(locals_input)
            dataset_st = locals()[locals_input].loc[date_start:date_stop]
            clear_output(wait=True)
            if m == 0:
                frames_st = dataset_st
                m = m+1
                print(m)
            else:
                frames_st = [frames_st, dataset_st]
                frames_st = pd.concat(frames_st)

    # dataset    
    frames = frames_st
    return frames
#---------------------------------------------------------------------------------------------------------------------------------------------------#

In [ ]:
df_out = creat_dataset()

In [ ]:
df_out

In [ ]:
df_out.reset_index(inplace=True)

In [ ]:
df_out

In [ ]:
Export_folder_name = "/Users/MSI-1016TH/Documents/ผลการทดลอง/"



file_name = 'Dataset_BPH'
file_name_save = file_name +'.csv'

dataset_path_save = Export_folder_name + file_name_save
df_out.to_csv(dataset_path_save, index=False, encoding="TIS-620")
print("{} {}" .format(dataset_path_save,len(df_out)))